<%-  include("./header.ejs")%>
<body>
    <h1>MOVIES SEARCH APPLICATION </h1>
    
    <style>
        h1{
            color: red;
        }
    </style>
    <div class="jumbotron">
       
        <h1 class="display-4">IMDB WORLD</h1>
        
        <p class="lead">This is a fast movie search app,where user can search for their favorite movies and find relevant information.</p>
        <hr class="my-4">
        <p>MADE BY SUNIL RANA.</p>
        <a class="btn btn-primary btn-lg" href="/aboutme" role="button">SIGN UP</a>
        
        
      
      </div>
      <div>
        <img src="/public/Movies Collection.jpg" />
      </div>
     
      
     
      <%-  include("./footer.ejs")%>